/* ----- 0 - 991px (START) ----- */
@media (max-width: 991px) {
  .layout-positioner {
    width: 75%;
  }
  .page-header__header,
  .mobile-menu__wrapper,
  .page-main__wrapper,
  .page-footer {
    width: 100%;
  }
  .page-header {
    margin-top: 4em;
  }
  .page-header__logotip {
    width: 100%;
    background: #1f2229;
    padding-top: 3.2em;
    float: left;
    height: auto;
    display: block;
  }
  .page-header__logo {
    background: url(../images/logo.png) no-repeat;
    width: 176px;
    height: 36px;
    display: block;
    margin: 0 0 3.2em 9.375%;
  }
  .mobile-menu__wrapper {
    display: block;
  }
  .aside-links {
    width: 100%;
    background: #1f2229;
    display: none;
  }
  .aside-links.visible {
    display: block;
  }
  .aside-links li {
    padding: 1.3em 0 1.3em 9.375%;
  }
  .page-footer {
    margin-bottom: 4em;
  }
}
/* ----- 0 - 991px (end) ----- */
/* ----- 0 - 767px (START) ----- */
@media (max-width: 767px) {
  .layout-positioner {
    width: 100%;
  }
  .main__box-number input {
    text-align: center;
    padding-left: 0;
    width: 20%;
  }
  .page-main__box-number input {
    width: 20%;
  }
}
/* ----- 0 - 767px (end) ----- */
/* ----- 0 - 575px (START) ----- */
@media (max-width: 575px) {
  .page-main__help:hover::after {
    right: -160%;
  }
  .page-main__box-number input {
    padding: 0;
    text-align: center;
  }
}
/* ----- 0 - 575px (end) ----- */
/* ----- 0 - 479px (START) ----- */
@media (max-width: 479px) {
  .page-header__logotip {
    padding-top: 0;
  }
  .page-header__header {
    height: auto;
  }
  .page-header__header h1 {
    margin-left: 0;
    text-align: center;
  }
  .page-header__logo {
    margin: 3.2em auto;
  }
  .page-header__text {
    width: 100%;
    margin: 0 0 1.3em 0;
  }
  .page-header__text p {
    padding: 0 3%;
    text-align: center;
  }
  .page-header__wrapper h1 {
    margin-top: 0.65em;
    margin-left: 0;
    text-align: center;
  }
  .aside-links li {
    padding: 1.1em 0 1.1em 9.375%;
  }
  .page-main__bank-card {
    margin-bottom: 2em;
  }
  .page-main__front-side {
    width: 75%;
    top: 2.4em;
    left: 4.54%;
  }
  .page-main__back-side {
    width: 75%;
    margin: 13em 0 0 19.95%;
  }
  .page-main__stripe {
    width: 100%;
  }
  .page-main__help:hover::after {
    right: -111%;
  }
  .page-main__button {
    display: block;
    margin: 1em auto 0;
  }
  .page-footer__text {
    margin: 1.8125em 0 2.4em 4.5%;
  }
}
/* ----- 0 - 479px (end) ----- */
/* ----- 0 - 370px (START)[iphone 5/5c/5s/se] ----- */
@media (max-width: 370px) {
  .page-header {
    margin-top: 3em;
  }
  .page-main__bank-card {
    margin-bottom: 2em;
  }
  .page-main__front-side {
    width: 90%;
    top: 4.4em;
  }
  .page-main__box-number input {
    margin-right: 2%;
  }
  .page-main__back-side {
    width: 89%;
    margin: 13.5em 1em 0 7.95%;
  }
  .page-main__help:hover::after {
    right: -21%;
  }
  .page-footer {
    margin-bottom: 3em;
  }
  .page-footer__text {
    margin: 1.6em 0 1.6em 4.5%;
  }
}
/* ----- 0 - 370px (end)[iphone 5/5c/5s/se] ----- */
/*# sourceMappingURL=adaptive.css.map */