/* Links fonts start */
@import "fonts/stylesheet.css";
/* Links fonts end */
img,
iframe,
video,
embed {
  max-width: 100% !important;
}
body {
  width: 100%;
  background-color: #101114;
  font: 100% 'Open Sans', sans-serif;
}
.page-header__header,
.mobile-menu__wrapper,
.page-main__wrapper,
.page-footer {
  width: 638px;
  float: right;
}
.layout-positioner {
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* colors start */
/* colors end */
/* Header styles start */
.page-header {
  height: 10.125em;
  margin-top: 5.3125em;
}
.page-header__text p {
  font: normal 0.875em 'Arial', sans-serif;
}
.page-header__header h1 {
  font: bold 2.1875em 'Open Sans', sans-serif;
  margin: 1.4286em 0 0.2em 4.55%;
}
.page-header__header {
  background-color: #00aeef;
  height: inherit;
}
.page-header__logotip {
  width: 20em;
  background-color: #1f2229;
  float: left;
  padding-top: 4em;
}
.page-header__logo {
  width: 176px;
  height: 36px;
  display: block;
  margin: 0 0 3.875em 9.375%;
}
.page-header__text {
  width: 74%;
  height: auto;
  margin: 0 0 2em 4.55%;
}
/* Header styles the end */
/* The beginning styles call me buttons on mobile devices */
.mobile-menu__wrapper {
  margin: 0.15em 0;
  background-color: #3a9f7a;
  display: none;
}
.mobile-menu__button {
  display: block;
  margin: 0.5em auto;
  font: bold 1em 'Open Sans', sans-serif;
  color: #ffffff;
  padding: 0.3em 3.7em;
  background: linear-gradient(to left, #fec336, #00aeef, #fec336);
  -moz-border-image: linear-gradient(to left, #3a9f7a, #00aee1, #3a9f7a);
  -o-border-image: linear-gradient(to left, #3a9f7a, #00aee1, #3a9f7a);
  border-image: linear-gradient(to left, #3a9f7a, #00aee1, #3a9f7a);
  -webkit-border-image: linear-gradient(to left, #3a9f7a, #00aee1, #3a9f7a);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 0.7;
  border-radius: 5px;
}
.mobile-menu__button:hover {
  background: linear-gradient(to left, #2b77ad, #ffffff, #2b77ad);
  opacity: 1;
  color: #00aeef;
  cursor: pointer;
}
.mobile-menu__button:focus,
.mobile-menu__button:active {
  outline: none;
}
/* Styles call me buttons on mobile devices end */
/* The beginning styles of a block with links */
.aside-links {
  width: 20em;
  background-color: #1f2229;
  float: left;
}
.aside-links li {
  padding: 1.8125em 0 1.8125em 9.375%;
}
.aside-links li a {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.125em;
}
.aside-links li:nth-of-type(2) a,
.aside-links li:nth-last-of-type(2) a,
.aside-links li:last-of-type a {
  color: #808592;
}
.aside-links li:nth-of-type(2) a:hover {
  color: #fec336;
}
.aside-links li:last-of-type {
  border-top: 1px solid #20232b;
  padding: 1.875em 0 2em 9.375%;
  background-color: #191c24;
}
.aside-links li:first-of-type,
.aside-links li:nth-last-of-type(2) {
  background-color: #191c24;
}
.aside-links li:nth-of-type(2) {
  background-color: #2a2d37;
}
.aside-links li:not(:nth-of-type(2)) a {
  cursor: default;
}
/* The end styles of a block with links */
/* The beginning styles of a main content page */
.page-main p {
  font: normal 1em 'Arial', sans-serif;
}
.page-main input {
  border: 1px solid #e4e9ee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.page-main__back-side label {
  margin: 1em 6% 0 0;
  color: #8494ab;
}
.page-main__info p:only-of-type {
  color: #8494ab;
  margin: 3.125em 0 0 4.54%;
}
.page-main__front-side label {
  color: #8494ab;
  margin: 0.8em 0 0.45em 4.54%;
  display: block;
}
.page-main__number-card {
  margin-top: 1.375em;
}
.page-main__info-pay {
  display: flex;
  margin: 1.5em 0 0 4.54%;
}
.page-main__info-pay_title p {
  color: #8494ab;
}
.page-main__info-pay_value {
  margin-left: 6%;
}
.page-main__info-pay_value p {
  color: #535864;
}
.page-main__info-pay_title p:first-of-type,
.page-main__info-pay_value p:first-of-type {
  margin-bottom: 0.5em;
}
.page-main__bank-card input {
  color: #bec6cf;
  font: normal 1em 'Arial', sans-serif;
  padding-left: 0.8em;
}
.page-main__bank-card h3 {
  font: bold 1.375em 'Open Sans', sans-serif;
  margin: 0.9em 0 0 4.54%;
}
.page-main__wrapper {
  background-color: #f7f8f8;
}
.page-main__bank-card {
  position: relative;
  margin-bottom: 3.575em;
}
.page-main__front-side {
  width: 54.55%;
  height: 14.625em;
  border: 2px solid #e4e9ee;
  border-radius: 13px;
  background-color: #f7f8f8;
  position: absolute;
  top: 2.6em;
  left: 4.54%;
  display: block;
}
.page-main__box-number {
  margin-left: 0.9em;
}
.page-main__box-number input {
  width: 4em;
  height: 2.5em;
  margin-right: 0.5em;
}
.page-main__owner-card {
  width: 90.84%;
  height: 2.5em;
  margin: 0.75em 0 0 0.9em;
}
.page-main__validity {
  margin: 0.375em 0 0 0.9em;
}
.page-main__months,
.page-main__years {
  border: 1px solid #e4e9ee;
  width: 4.25em;
  height: 2.5em;
  padding-left: 0.875em;
  font: normal 1em 'Arial', sans-serif;
  color: #373c43;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.5625em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url(../images/down.png) no-repeat #ffffff;
  background-position: 85.3% 50%;
}
.page-main__years {
  width: 5.25em;
  background: url(../images/down.png) no-repeat #ffffff;
  background-position: 90.48% 50%;
}
.page-main__months::-ms-expand,
.page-main__years::-ms-expand {
  display: none;
}
.page-main__months option,
.page-main__years option {
  background-color: #d4ddf2;
  color: #373c43;
}
.page-main__months:hover,
.page-main__years:hover {
  cursor: pointer;
  border-color: #83bef9;
}
.page-main__bank-card input:hover {
  border-color: #83bef9;
}
.page-main__bank-card input:focus {
  border-color: rgba(154, 194, 0, 0.5);
}
.page-main__validity select {
  display: inline-block;
}
.page-main__back-side {
  display: block;
  width: 57.68%;
  height: 14.625em;
  border: 2px solid #e4e9ee;
  border-radius: 13px;
  text-align: right;
  background-color: #f7f8f8;
  margin: 2em 0 0 34.95%;
}
.page-main__back-side input {
  width: 100%;
  height: 100%;
  padding-left: 17%;
}
.page-main__code {
  width: 37.2%;
  height: 2.5em;
  margin: 0.2em 0 0 58.7%;
  position: relative;
}
.page-main__help {
  background: url(../images/help.png) no-repeat;
  width: 26px;
  height: 26px;
  top: 17.5%;
  right: 5.88%;
  position: absolute;
}
.page-main__help:hover {
  cursor: pointer;
}
.page-main__help:hover::after {
  content: attr(data-title);
  position: absolute;
  right: -225%;
  top: 140%;
  z-index: 1;
  width: 141px;
  text-align: center;
  background-color: rgba(187, 249, 249, 0.2);
  font: normal 0.7em 'Arial', sans-serif;
  color: #8494ab;
  padding: 0.35em 0.35em;
  border: 1px solid #e4e9ee;
}
.page-main__stripe {
  display: block;
  margin-top: 1.5625em;
  width: 72.56%;
  height: 2.625em;
  background-color: #e4e9ee;
  margin-left: auto;
}
.page-main__button {
  display: block;
  width: 27%;
  height: 2.86em;
  margin: 1em 0 0 2.07em;
  background-color: #9ac200;
  border: none;
  font: bold 0.875em 'Open Sans', sans-serif;
  color: #ffffff;
  border-radius: 5px;
  opacity: 0.5;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.page-main__button:hover {
  background-color: #fec336;
  cursor: pointer;
}
.page-main__button.opacity {
  opacity: 1;
}
.notValid {
  border: 1px solid #ff4343 !important;
}
/* The end styles of a main content page */
/* The beginning styles of footer page */
.page-footer {
  margin-bottom: 5em;
  background-color: #373c43;
}
.page-footer p {
  font: normal 0.75em 'Arial', sans-serif;
  color: #7f8591;
  margin-bottom: 1.3em;
  line-height: 1.4em;
}
.page-footer__text {
  width: 89%;
  margin: 1.8125em 0 2em 4.5%;
}
/* The end styles of footer page */
/*# sourceMappingURL=styles.css.map */